


body
{

  margin: 0;
background-image: url("site_background.jpg")
 
}

#header 
{  background: #ccc;
    padding: 20px;
	
   }
#header h1 {margin:0; }


h1
{
font-size:1.4em; color: #06657a;
}

a
{
color: #008000;
}

th
{
padding-right: 5px; text-align: center;
background-color: #009879; color: #eff7c3;
}

td
{
padding-right: 5px; text-align: center;
background-color: white; color: black;
}

#navigation 
{ float: left; width:100%; background: #333;}

#navigation ul 
{ margin:0; padding: 0; }

#navigation ul li 
{ list-style-type: none; display; inline; }

#navigation li a
{ display: block; float: left;
  padding: 5px 10px; color: #fff;
  text-decoration: none;
  border-right: 1px solid #fff;
  font-size: 12px;
}

#navigation li a:hover
{ background: #736F6E; }#navigation 
{ float: left; width:100%; background: #333;}

#navigation ul 
{ margin:0; padding: 0; }

#navigation ul li 
{ list-style-type: none; display; inline; }

#navigation li a
{ display: block; float: left;
  padding: 5px 10px; color: #fff;
  text-decoration: none;
  border-right: 1px solid #fff;
}

#navigation li a:hover
{ background: #736F6E; }